body {
  background-color: lightblue;
}
.container {
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-item - center;
  color : red;
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 30px;
}
